/* Scss Document */
.banner-wrapper {
  max-width: 1440px; }

.error-mes {
  padding-top: 40px;
  padding-bottom: 100px; }
  .error-mes h1 {
    font-family: gotham-book;
    font-size: 300px;
    color: white;
    text-shadow: 2px 2px 4px #000000; }
  .error-mes h3 {
    font-family: gotham-book;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000; }

.error-img img {
  max-width: 530px;
  padding-left: 70px;
  padding-top: 60px;
  padding-bottom: 50px;
  width: 100%; }

@media only screen and (max-width: 1440px) {
  .error-mes {
    text-align: center; } }
@media only screen and (max-width: 1024px) {
  .error-mes {
    text-align: center; } }
@media only screen and (max-width: 768px) {
  .error-mes h1 {
    font-size: 180px; }

  .error-mes h3 {
    padding-left: 10px;
    padding-right: 10px; }

  .error-img {
    display: hide; } }
@media only screen and (max-width: 425px) {
  .error-mes h1 {
    font-size: 180px; }

  .error-mes h3 {
    padding-left: 10px;
    padding-right: 10px; } }
