/* Scss Document */

	.clients-heading {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	
	.awards-box-wrapper{
		height: 370px;
		padding-top: 50px;
		margin-bottom: 167px;
		max-height: 100%;
	}/* Scss Document */

.clients-loop-wrapper{
	padding-top: 50px;
}