.case-studies-content {
    background: $lightGray;
}
.case-study-wrapper {
    box-shadow: 1px 2px 10px -6px $black;
    margin: 30px 0;
    background: $white;
    padding: 50px;
}
.post-bg,
.resource-banner {
    background-size: cover;
    background-repeat: no-repeat;
}
.blog-archive,
.case-study-text {
    padding-top: 35px;
}
.border-right-green {
    border-right: 7px solid $green;
}
.border-right-purple {
    border-right: 7px solid $purple;
}
.border-right-pink {
    border-right: 7px solid $pink;
}
.border-right-blue {
    border-right: 7px solid $blue;
}
.border-right-orangeTwo {
    border-right: 7px solid $orangeTwo;
}
.border-left-green {
    border-left: 7px solid $green;
}
.border-left-purple {
    border-left: 7px solid $purple;
}
.border-left-pink {
    border-left: 7px solid $pink;
}
.border-left-blue {
    border-left: 7px solid $blue;
}
.border-left-orangeTwo {
    border-left: 7px solid $orangeTwo;
}
.case-study-left {
    text-align: left;
}
.case-study-right {
    text-align: right;
}
.case-study-text {
    text-align: center;
}
.case-visible {
    display: block;
}
.case-hidden {
    display: none;
}
.image-link {
	text-align: center;
	display: block;
}
.image-link img {
	display: block;
}