.cs-col-left{
	text-align: center;
}
.cs-image-float-right {
	float: right;
	max-width: 300px;
}
.case-study-individual-client-logo {
	display: inline-block;
	padding-bottom: 35px;
}
.cs-testimonial-text{
	font-style: italic;
}
.cs-logo-img {
	width: 100%;
	max-width: 200px;
}
.cs-container {
	padding-top: 50px;
}
.cs-author-name {
	font-size: 20px;
}
.cs-author-title {
	margin-top: -10px;
	font-size: 18px;
}
.case-study-circle-big-text {
	font-size: 22px;
	padding-top: 50px;
	text-align: center;
}
.circle-small-text {
	font-size: 11px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 5px;
}
.circles {
	color: $white;
	border-radius: 50%;
	max-width: 150px;
	height: 150px;
	position: relative;
	margin: 20px auto;
}
.cs-btn-spacing {
	padding: 50px 0;
}
.cs-col-left{
	padding-left: 35px;
}
.cs-body-content h1,
.cs-body-content h2,
.cs-body-content h3,
.cs-body-content h4,
.cs-body-content h5,
.cs-body-content h6 {
	color: $yellow;
}
.cs-by-the-numbers {
/*		border: 3px solid rgb(231,107,124);*/
	margin-bottom: 25px;
	background-color: $white;
	padding: 15px 0px;
}
.line {
	border: 2px solid $yellow;
}
.cs-video-center {
	margin: 0 auto;
	width: 65%;
	margin-bottom: 35px;
}