.contact-text {
    font-size: 21px;
    padding: 40px 40px 70px;
    font-weight: 600;
}
.contact-form {
    padding-top: 25px;
    margin-top: 40px;
    padding-bottom: 25px;
}
.contact-form .h2 {
    text-align: center;
    color: $white;
}
.contact-details {
    margin-top: 40px;
    margin-bottom: 70px;
}
#contact-map {
    height: 450px;
    width: 100%;
}
.contact-email {
    margin-top: 15px;
    padding-bottom: 35px;
}
.contact-email a {
    color: $orangeTwo;
}
.footer-card li a,
footer {
    color: $white;
}
@media only screen and (max-width: 425px) {
    .contact-details,
    .contact-email {
        margin-left: 20px;
    }
}