.white-papers {
  padding: 50px 0; }

.form-box-ebook {
  padding: 25px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

.logo-white-paper {
  display: none !important; }

.hide-list > ul {
  list-style: none !important;
  margin-left: 0 !important; }

.right-side-text {
  padding-top: 20px; }

.wp-logo-img {
  width: 100%;
  max-width: 200px; }

h3.customers-wp {
  text-align: center;
  padding-top: 30px; }

.logo-white-paper {
  background: #EFEFEF; }

.logo-white-paper-wrapper {
  padding: 60px 0 60px 0; }

.white-p-logo {
  text-align: center;
  padding: 30px; }
