body{}

h1, h2, h3, h4 ,h5, h6{
	font-family: $gotham-bold;
}

p {
    font-family: $gotham-book;
    font-size: 1.5em;
    line-height: 150%;
}

li {
    font-family: gotham;
    font-size: 1.2em;
    line-height: 150%;
}