.header-wrapper {
    padding-top: 20px;
}
.logo-img{
	max-width: 250px;
}
.regular-logo{
	display: none;
}
.white-logo{
	display: block;
}
.nav{
	float: right;
}
.search-icon{
	color: $white;
}
.main-nav{
	a{
		color: $white;
	}
}
/* request a demo btn */
.rad{
	border: 2px solid white;
}
.play-icon {
    font-size: 25px;
    color: $gray;
    vertical-align: middle;
}