.header-wrapper {
    padding-top: 20px !important;
}
.logo{
	padding-top: 35px;
}
.logo-img{
	max-width: 250px;
}
.regular-logo{
	display: none;
}
.white-logo{
	display: block;
}

/* MAIN NAV */
.nav{
	float: right;
	clear: right;
}
nav.upper-nav, 
.main-nav,
.dropdown-menu li{
    font-size: 1.3rem;
}
.search-icon{
	color: $white;
}
.upper-nav{
	a{
		color: $white;
	}
	li a {
		color: $white;
	}
}
.main-nav{
	a{
		color: $white;
	}
}
.nav-pills>li>a:last-child {
    padding: 5px;
    margin: 5px;
}

/* REQUEST A DEMO BTN */
.rad{
	border: 2px solid white;
}

.nav>li>a.rad:focus, .nav>li>a.rad:hover{
	background-color: darken($green, 10) !important;
	border: 2px solid $green;
}
.play-icon {
    font-size: 20px;
    color: $gray;
    vertical-align: middle;
}