.landing-logos {
	margin-top: 100px;
}
.landing-logo{
	padding: 25px 0;
	width: 100%;
	max-width: 300px;
}
.banner-strip{
	padding: 10px 0;
}
.left-landing {
	padding-top: 20px;
	padding-right: 70px;
}
.landing-footer-wrapper{
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
	margin-top: 50px;
	padding-bottom: 50px;
}
.landing-logo-container {
    margin-top: 50px;
}
img.landing-logo-img {
    width: 100%;
    max-width: 300px;
}
.landing-content-wrapper {
    position: relative;
}
.right-landing {
    position: absolute;
    right: 0;
	padding: 25px;
}

/* THANK YOU */
.landing-logo{
	padding: 25px 0;
	width: 100%;
	max-width: 300px;
}
.banner-strip{
	padding: 10px 0;
}
.left-landing {
	padding-top: 20px;
}
.landing-footer-wrapper{
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
	margin-top: 35px;
}
.landing-thank {
	position: relative;
}
.landing-thank-wrapper {
    text-align: center;
    padding-top:55px;
    border: 1px solid #eee;
    border-radius: 3px;
    z-index: 9999999999;
    position: relative;
    height: 300px;
}
.stripe-shape.green-bg {
    height: 130px;
    margin-top: 80px;
    top: 0%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}
.thank-you-extra {
    padding: 0 !important;
    margin-top: 20px;
}
.thanks-card{
	padding: 10px;
	text-align: center;
}
.thanks-icon{
	font-size: 1.7em;
	padding: 0 7px;
}
.thanks-social {
	ul {
		text-align: center;
		list-style: none;
		padding: 0;
		margin-top: 25px;
	}
	li{
		display: inline-block;
	}
}
.btn-this {
	margin-top: 15px;
}
.download-asset{
	margin-top: 25px;
}
.btn-download {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}
.download-icon{
	padding-right: 10px;
}
.thanks-number {
    margin-top: 25px;
}
input.thanks-url {
    border: none;
    padding: 10px;
	width: 100%;
}
.p-text{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	
	span{
		font-size: 1.7rem;
	}
}
.landing-footer-wrapper-two{
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
	margin-top: 100px;
}
.thanks-social {

	ul {
		text-align: center;
		list-style: none;
		padding: 0;
		margin-top: 25px;
	}
	li{
		display: inline-block;
	}
}
.thanks-obama {
    margin-top: 22px;
}
.thank-you{
	padding: 50px 0;
}

/* RESOURCE DIRECT MAIL LANDING PAGE */
.ldr-left-landing {
    padding-top: 20px;
    padding-right: 70px;
}
.ldr-landing-footer-wrapper{
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
	margin-top: 180px;
	padding-bottom: 50px;
}
.ldr-right-landing {
    position: absolute;
    right: 0;
	padding-top: 10px;
}