.mktoForm,
.mktoForm .mktoFormCol {
  width: 100% !important; }

.mktoForm .mktoFieldDescriptor input,
.mktoForm .mktoFieldWrap input {
  width: 100% !important;
  height: 45px;
  padding-left: 0.75em !important;
  margin-bottom: .75em;
  color: #cf842a !important;
  font-size: 15px; }

.show-menu,
.tab-links a {
  text-decoration: none;
  font-weight: 600; }

.btn-lg,
.img {
  width: 100%; }

.mktoForm .mktoAsterix {
  display: none !important; }

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  margin-top: 15px; }

/* BUTTONS */
label.mktoLabel.mktoHasWidth {
  width: auto !important; }

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  background: #28B29A !important;
  width: 100% !important;
  border: 1px solid white !important; }

.mktoButtonRow {
  width: 100% !important; }

button.mktoButton {
  height: 50px;
  font-size: 1.4em !important; }

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
  border: none !important;
  background-color: #1f8876 !important; }
