/* Donwload 360 */
.video-wrapper{
	text-align: left;
	padding-top: 50px;
}
.indivdual-video-text{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* CSR White Paper */
.white-papers {
    padding: 50px 0;
}
.form-box-ebook {
    padding: 25px;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
.form-box {
    padding: 25px;
}
.logo-white-paper{
	display: none !important;
}
.hide-list > ul {
	list-style: none !important;
	margin-left: 0 !important;
}
.right-side-text{
	padding-top: 20px;
}
.wp-logo-img{
	width: 100%;
	max-width: 200px;
}
h3.customers-wp{
	text-align: center;
	padding-top: 30px;
}
.logo-white-paper{
	background: #EFEFEF;
	display: none !important;
}
.logo-white-paper-wrapper{
	padding: 60px 0 60px 0;
}
.white-p-logo {
    text-align: center;
    padding: 30px;
}

/* EC Template */
.ec{
	padding: 50px;
}

/* FRANCHISE TEMPLATE */
.franchisee-hero{
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}
.fran-footer-wrapper{
	border-top: 1px solid #eee;
	text-align: right;
	padding-top: 10px;
	margin-bottom: 80px;
}

/* FSMA E-BOOK */
.request-wrapper{
	padding: 50px 0;
}

/* NEWS */
ul.news-articles-list {
    padding-top: 35px;
}
.news-post {
    overflow: auto;
    padding-bottom: 75px;
}
img.news-post-img {
    max-width: 100%;
    max-height: 200px;
    float: none;
    height: auto;
    max-width: 300px;
    float: right;
}

/* NEWSROOM */
.icon-news-columns {
    background: $lightGray;
}
ul.press-list {
    padding: 0;
}
.post-content{
	height: auto !important;
}
.press-list li{
	background: $white;
	margin: 10px 0 10px 0;
	padding: 15px;
}

/* ITIC */
.logo-wrapper{
	padding: 50px 0;
}
.divider-sections{
	padding: 50px 0;
}
img.wp-logo-img {
width: 100%;
max-width: 250px;
}
.pa-right{
	padding: 20px;
}
.logo-wrapper{
    text-align: center;   
}
.trust-logo-header{
	padding-bottom: 50px;
}

/* LEADERSHIP */
.leadership-wrapper {
    padding: 50px 0;
}
.leader-container {
    padding-bottom: 35px;
}
.leader-img {
    border-radius: 7px 7px 7px 7px;
}
.the-board {
    border-top: 1px solid #eee;
}
.the-board h2 {
    padding-bottom: 35px;
}
.bd-modal{
	z-index: 9999999999999999999999999;
}
.leader-container {
    cursor: pointer;
}

/* MEDIA */
.media-wrapper{
	padding: 100px;
}

/* NEW VIDEO TEMPLATE */
.video-wrapper{
	text-align: left;
	padding-top: 50px;
}
.indivdual-video-text{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* LEAD PARTNERS */
.partner-lead-banner {
	background-image: url(http://rizepoint.com/wp-content/uploads/2017/01/gradient-orange-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	padding: 0;
	margin-top: -5px;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
}
.partner-lead-banner-wrapper{
	position: absolute;
	text-align: center;
	top: 35%;
	left: 0;
	right: 0;
}
.partner-lead-banner-wrapper h1{
	color: $white;
}
.partner-lead-body {
	margin-bottom: 50px;
	text-align: center;
}
.partner-lead-stuff {
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
.partner-lead-input {
	display: initial !important;
}
input.partner-lead-btn {
	border: none;
	padding: 10px;
	background: $orangeTwo;
	color: $white;
	width: 100%;
}

/* PARTNERS */
.partner-form {
    background: $lightGray;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 500px;
    border-radius: 5px;
}
.partners-text ul li {
    text-align: left;
    padding: 0;
}

/* PRIVACY POLICY */
.pp-content{
	padding: 75px 0px
}

/* PRODUCT FEATURES */
.product-feature{
	padding: 50px 0;
}
.pfw-right {
    padding-left: 50px;
}
.pfw-video{
	padding-top: 100px;
	max-width: 900px;
	margin: 0 auto;
}

/* PROFESSIONAL SERVICES */
.ps-contact-form {
	margin-bottom: 50px;
	padding-top: 0;
}
.ps-img {
	width: 100%;
	max-width: 400px;
	padding-top: 50px;
}
h4.pro-services {
	font-size: 14px;
}
h2.pro-services {
	padding-top: 25px;
	padding-bottom: 25px;
}
.ps-btn {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
.ps-intro-copy {
	padding-top: 75px;
}
.persona-wrapper {
	height: 250px;
}
.persona-info-wrapper {
	width: 100%;		
}
.as-wrapper {
	padding-top: 10px;
	padding-bottom: 40px;
}
.ps-section-list {
   	padding-bottom: 50px;
}

/* SUPPORT */
.support-head{
	padding-top: 70px;
}
.support-cont{
	border-bottom: 1px solid $lightGray;
}
.support-sub{
	padding-top: 70px;
}
.matrix{
	text-align: center;
	padding-bottom: 70px;
}
.copy-left{
	padding:0px 100px;
}
.copy-right{
	padding-left: 50px;
}
.content-1{
	 padding-bottom: 55px;
	
	h3{
		font-size: 3rem;
		color: $green;
		padding-bottom: 18px;
	}
	li{
		font-size: 2rem;
	}
	p{
		font-size: 2rem;
	}
}
.engage {
    background-image: url(https://rizepoint.com/wp-content/uploads/2017/04/mirage-engage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    box-shadow: 1px -1px 15px black inset;
    height: 375px;
    position: relative;
}
.engage-wrapper {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 35%;
    color: $white;
	
	h2 {
		font-size: 2.3em;
	}
	h4 {
		font-size: 1.5em;
	}
}
.engage-bt-wrapper {
    margin-top: 35px;
}
	.engage-btn {
    background-color: $green;
    color: $white;
    padding: 10px;
    border-radius: 5px;
}
.matrix{
	padding-top: 35px;
}
.matrix-img{
	width: 100%;
	max-width: 800px;
}
.welcome-mesg{
	text-align: center;
}

/* TERMS CONDITIONS */
.terms-c-content{
	padding:100px 0px
}

/* UNSUBSCRIBE */
.support-head{
	padding-top: 70px;
	font-size: 3rem;
}
.support-cont{
	padding-bottom: 70px;
	border-bottom: 1px solid $lightGray;
}
.support-sub{
	padding-top: 70px;
}
.matrix{
	text-align: center;
	padding-bottom: 70px;
}
.copy-left{
	padding:0px 100px;
}
.copy-right{
	padding-left: 50px;
}
.content-1{
	 padding-bottom: 55px;
	
	h3{
		font-size: 3rem;
		color: $green;
		padding-bottom: 18px;
	}
	li{
		font-size: 2rem;
	}
}

/* VIEW OUR PARTNERS */
.view-partners-wrapper{
	padding-bottom: 90px;
}

/* SEO BLOCK */
.search-block{
display: none !important;
}

/* SAVE YOUR SEATS ENGAGE */
.sys-banner {
	background-image: url(https://rizepoint.com/wp-content/uploads/2017/04/mirage-engage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.sys-wrapper{
	padding: 50px 0;
}
.sys-info {
	text-align: center;
	padding-bottom: 50px;
}
.reg-form-mk{
	background: $lightGray;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	width: 50%;
	max-width: 700px;
}

/* DATASHEET TEMPLATE */
.datasheets-section-one-wrapper{
	padding-top: 20px
}
.data_sec1_title{
	text-align: left;
}
.sec2-title{
	text-align: center;
}
.datasheets-section-two-wrapper{
	padding-top: 20px;
}
.data_sec2_lists{
	text-align: center;
}
.slogan img{
	width: 100%;
	max-width: 200px;
}
.datasheet-sections-four-wrapper{
	text-align: center;
}
.data_sec3_img img{
	width: 100%;
	max-width: 650px;
	margin-top: 80px;
}
.data-quote{
	margin: 100px 0px;
}
.data-cta-btn{
	padding-top: 30px;
	margin-bottom: 100px;
}
.data_sec2_fluid{
	background: $lightGray;
	margin: 50px 0px;
	padding: 35px 0;
}

/* SEO BLOCK */
.search-block {
    display: none;
}

/* SOLUTIONS FSMA */
.it-content-sec2 img {
	max-width: 200px;
}
.datasheet-case-study-header {
	margin-bottom: 30px;
}
.res-button{
	padding-top: 50px;	
}
.avendra-heading {
	margin-top: -25px;
}
	