.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}
.nav>li>a:focus,
.nav>li>a:hover {
    color: #333;
}
a:focus,
a:hover {
    color: $orangeTwo;
}
.modal {
    z-index: 99999999;
}