/* Scss Document */
.request-icons {
  width: 100%;
  max-width: 1440px;
  margin: auto; }

.circle-row {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 150px 0px 100px 0px; }

img {
  width: 100%; }
