.products-intro-copy,
.request-icons {
    padding-top: 50px;
}
.grad-back {
    position: absolute;
    z-index: 5
}
.container-banner {
    position: relative;
    z-index: 10;
    padding-bottom: 150px;
    padding-top: 200px;
}
.title {
    padding: 250px !important;
}
.product-banner-btn-wrapper {
    margin-top: 35px;
}
.banner-wrapper,
.banner-wrapper-title {
    text-align: center;
    padding-bottom: 15px;
    color: $white;
}
.button-pos {
    margin-top: 40px;
}
.products-video-wrapper {
    max-width: 900px;
    padding: 50px 0;
}
.products-video-btn {
    padding-top: 35px;
}
.management-bg {
    background-repeat: no-repeat;
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
}
.product-banner{
	margin-top: 160px !important;
}
.products-img{
	width: 100%;
	max-width: 300px;
}
.management-console {
    padding-top: 50px;
}
.man-img {
    padding-right: 90px;
}
.man-img2 {
    padding-left: 90px;
}
.aud-wrapper {
    width: 100%;
    max-width: 1080px;
    padding: 15px 50px;
    margin: auto;
}
.aud-img {
    padding-right: 90px;
}
.aud-img2 {
    padding-left: 90px;
}
.aud-content,
.aud-content2,
.man-content,
.man-content2 {
    padding-top: 40px;
    padding-bottom: 40px;
}