.request-choose p {
  margin-top: -5px; }

.request-demo h3 {
  padding: 0;
  margin: 20px 0 0; }

.request-demo h1 {
  font-size: 66px;
  padding: none;
  margin: -10px none none; }

.request-brands-text {
  padding: 10px 0 80px;
  font-weight: 700; }

@media only screen and (max-width: 768px) {
  .request-form,
  .request-video {
    text-align: center;
    padding-top: 35px; } }
@media only screen and (max-width: 450px) {
  .request-form,
  .request-video {
    text-align: center;
    padding-top: 35px; }

  .circle-row {
    text-align: center; } }
@media only screen and (max-width: 375px) {
  .request-form,
  .request-video {
    text-align: center;
    padding-top: 35px; }

  .circle-row {
    text-align: center; } }
@media only screen and (max-width: 320px) {
  .request-form,
  .request-video {
    text-align: center;
    padding-top: 35px; }

  .circle-row {
    text-align: center; } }
