
/***********************************
   RESOURCES CSS
***********************************/
.resource-banner {
    height: 50vh;
    max-height: 400px;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    position: relative;
}
h2.resoure-heading {
    background: rgba(252,139,46,0.90);
    padding: 10px;
    width: 53%;
    font-family: 'GothamRounded-Book' !important;
    position: absolute;
    color: #fff;
    top: 30%;
    font-size: 2rem;
    text-align: right;
}
.resource-container {
    padding-top: 20px;
}
.tab-content-wrapper{
    margin-bottom: 30px;
}
.resource-col-title {
    text-align: center;
    background: #EAEBED;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.resource-col {
    padding-top: 30px;
    text-align: center;
    float: left !important;
}
.resource-col-wrapper {
    height: 320px;
    background-size: cover;
    background-position: 50% 15%;
    position: relative;
}
.resource-col-cs-wrapper {
    position: relative;
}
.resource-col-title-1{
    position: absolute;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    bottom: 0;
    color: #fff;
    width: 100%;
}
.resource-col-title {
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    bottom: 0;
    color: #fff;
}
.resource-col-title a,
.resource-col-title-1 a{
    color: #fff;
}
img.resource-col-img {
    width: 100%;
}
.resource-modal {
    width: 35% !important;
}
.videoWrapper h4 {
    text-align: left;
}


/***********************************
   RESOURCES TAB 1
***********************************/
.headline-posts-container, 
.headline-col-2-wrapper, 
.headline-col-3-wrapper {
    height: 700px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}
.headline-col-1 {
    height: 100%;
    background-size: cover;
    background-position: 50% 15%;
    padding: 0 0 0 15px;
    background-repeat: no-repeat;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -webkit-transform: translateZ(0);
}
.headline-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.headline-post {
    background-size: cover;
    height: 100%;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all .5s ease;
}
.headline-post:hover {
    transform: scale(1.1);
}
.frontPostImg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    width: 100%;
    background-position: 50% 15%;
    transition: all 0.5s ease;
}
.frontPostImg:hover{
    transform: scale(1.1);
}
.hc2-1-post,
.hc2-2-post,
.hc3-1-post,
.hc3-2-post{
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    transition: all 300ms ease-out;
    overflow: hidden;
    -webkit-transition: all 300ms ease-out;
    -webkit-transform: translateZ(0);
}
h3.headline-heading {
    background: rgba(252,139,46,0.70);
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
}
.headline-col-2, 
.headline-col-3 {
    height: 100%;
}
.headline-col-3 {
    padding: 0 15px 0 0px;
}
.hc2-1-post {
    height: 58%;
    position: relative;
    margin-bottom: 14px;
    overflow: hidden;
}
.hc2-2-post {
    height: 40%;
    position: relative;
}
h3.subheadline-heading {
    background: rgba(252,139,46,0.70);
    color: #fff;
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 17px;
    font-size: 1.2rem;
    width: 100%;
}
.hc3-1-post {
    height: 40%;
    position: relative;
    margin-bottom: 14px;
}
.hc3-2-post {
    position: relative;
    height: 58%;
}
.resource-thmb-loop{
    overflow: auto; /* THIS BEAUTIFY ADJUSTS THE STUPID HEIGHT OF THE PARENT DIV */
    width: 100%;
}
/***********************************
   RESOURCES DATASHEET TAB
***********************************/
.hovereffect {
    overflow: hidden;
}
.hovereffect .overlay {
    width:100%;
    height:100%;
    padding: 40px 30px 0 30px;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.8);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
.hovereffect:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}
h3.overlay-heading,
.overlay-text{
    color: #fff !important;
    margin-top: 60px;
}



/***********************************
   ABOUT US PAGE/COMPANYRP TEMPLATE
***********************************/
.our-story {
    max-width: 66.75rem !important;
}

/***********************************
   TABS ON THE RESOURCES PAGE
***********************************/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
.tab-links-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #EAEBED;
}
ul.tab-links {
    padding: 25px 0 0 0;
    margin: 0;
}
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
.tab-links a {
    padding:15px 25px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#FA943F;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    text-decoration: none;
    color: #fff;
}
.tab-links a:hover {
    background:#fcb040;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#FA943F;
}
/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    background: #fff;
}
.tab {
    display:none;
    overflow: auto;
}
.tab.active {
    display:block;
}

/***********************************
   TAB RESPONSIVE JUNK
***********************************/
ul.tab-menu {

}
li.tab-list {

}
li.tab-list a {

}
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #fcb040;
	text-align: center;
	padding: 20px;
	display: none;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #tab-menu {

}





/***********************************
   MOBILE STYLES KEEPING IT FRESH
***********************************/

@media only screen and (max-width: 828px){
    
    h2.resoure-heading {
        top: 20%;
    }
	a.welcome-btn{
		max-width: 100%;
	}
	.message-wrapper {
		margin-top: 70px !important;
	}
	.slick-initialized .slick-slide {
		padding: 15px;
	}
}

@media screen and (max-width : 760px){
    
	ul.tab-menu {
		position: static;
		display: none;
	}
	li.tab-list {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 0 1px 0;
    }
	ul.tab-menu li.tab-list, li.tab-list a {
		width: 100%;
	}
    li.tab-list a {
        background: orange;
        color: white;
    }
    ul.tab-links, ul.news-tab {
        display: none;
    }
    input[type=checkbox]:checked ~ #tab-menu {
        display: block;
        padding: 0 !important;
        margin: 0;
        width: 100%;
    }
	.show-menu {
		display: block;
	}
	.how-we-explain {
		padding: 30px;
	}
	.explain-wrapper {
		padding: 30px 40px 20px 40px;
	}
	.hw-cta-btn-wrapper {
		margin-bottom: 30px;
	}
	.pa-banner-wrapper{
		top: 15%;
	}
}

@media only screen and (max-width: 640px){
	
	.welcome-message{
		text-align: center;
	}
    .headline-col-1 {
        margin-bottom: 30px;
        padding: 0;
    }
    .headline-col-2, .headline-col-3 {
        padding: 0;
        height: auto;
    }
    .hc2-2-post {
        margin-top: 30px;
    }
    .hc3-1-post {
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .headline-col-2-wrapper {
        margin-bottom: 12px;
    }
    .hc2-1-post,
    .hc2-2-post,
    .hc3-1-post,
    .hc3-2-post{
        height: 50%;
    }
    .resource-col {
        padding-left: 0;
        padding-right: 0;
    }
    .headline-posts-container, .headline-col-2-wrapper, .headline-col-3-wrapper {
        border-bottom: none;
    }
    .resource-col-title {
        position: absolute;
    }
    .resource-modal {
        width: 100% !important;
    }
    .right-hr {
        right: 0;
    }
    .displayOn{
        display: none;
    }
    .displayOff{
        display: block;
    }
  
}


@media only screen and (max-width: 476px){
    
    h2.resoure-heading {
        top: initial;
        bottom: 0;
        margin: 0;
        width: 100%;
    }

}







