.btn-lg,
.logo-img {
    max-width: 250px;
}
.parallax{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner{
    @extend .parallax;
    height: 400px;
	margin-top: 100px;
}
.banner-wrapper {
    max-width: 870px;
	width: 100%;
	text-align: center;
    margin: 45px auto 0;
}
.banner h1{
    color: $white;
    font-size: $banner-font;
}
.home-banner-wrapper {
    max-width: 870px;
	width: 100%;
	text-align: center;
    margin: 45px auto 0;
	
	h1{
		font-size: $home-banner-font;
	}
}

.banner-btns {
    margin-top: 50px;

	a{
		margin: 15px;
	}
}

/* shadows */
.text-shadow{
    text-shadow: 0px 3px 33px $black;
}
.box-shadow{
	box-shadow: 1px 2px 10px -6px $black;
}

/* aligning */
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}

/* displaying */
.display-block{
	display: block;
}
.display-none{
	display: none;
}
.lg-display-none{
	display: none;
}
.md-display-none{
	display: none;
}
.sm-display-none{
	display: none;
}

.visible{
	visibility: visible;
}
.invisible{
	visibility: hidden;
}

.wrapper{
	padding: 50px 0;
}

/* icons circles */
.circle-row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.circle-icon{
    border-radius: 50%;
    max-width: 200px;
    padding: 30px;
    margin: 0 auto;
}
.circle-icon-img {
    width: 100%;
    max-width: 150px;
}
.circle-header{
	h4{
		text-align: center;
		padding-top: 20px;
		color: $gray;
	}
}
.circle-text {
    text-align: center;
    font-size: 1.1rem;
}
.circle-icon.industry-circle.purple-bg:hover{
	background-color: darken($purple, 10);
}
.circle-icon.industry-circle.pink-bg:hover{
	background-color: darken($pink, 10);
}
.circle-icon.industry-circle.orangeTwo-bg:hover{
	background-color: darken($orangeTwo, 10);
}
.circle-icon.industry-circle.green-bg:hover{
	background-color: darken($green, 10);
}

/* box features */
.box-feature-wrapper {
    margin-bottom: 35px;
}
.box-feature {
    width: 100%;
    max-width: 400px;
    height: 250px;
	margin-bottom: 15px;
}

/* colors */
/* color classes */
.orangeOne-bg{
	background-color: $orangeOne;
}
.orangeOne-text{
	color: $orangeOne;
}
.orangeTwo-bg{
	background-color: $orangeTwo;
}
.orangeTwo-text{
	color: $orangeTwo;
}
.orangeThree-bg{
	background-color: $orangeThree;
}
.orangeThree-text{
	color: $orangeThree;
}
.yellow-bg{
	background-color: $yellow;
}
.yellow-text{
	color: $yellow;
}
.purple-bg{
	background-color: $purple;
}
.purple-text{
	color: $purple;
}
.blue-bg{
	background-color: $blue;
}
.blue-text{
	color: $blue;
}
.green-bg{
	background-color: $green;
}
.green-text{
	color: $green;
}
.pink-bg{
	background-color: $pink;
}
.pink-text{
	color: $pink;
}
.black-bg{
	background-color: $black;
}
.black-text{
	color: $black;
}
.gray-bg{
	background-color: $gray;
}
.gray-text{
	color: $gray;
}
.lightGray-bg{
	background-color: $lightGray;
}
.lightGray-text{
	color: $lightGray;
}
.white-bg{
	background-color: $white;
}
.white-text{
	color: $white;
}
.extraGray-bg{
	background-color: $bgGray;
}
.extraGray-text{
	color: $bgGray;
}

/* Gradients */

/* purple to pink */
.purple-pink{
	background: #7abcff;
	background: -moz-linear-gradient(-45deg,  #7abcff 0%, #a15a95 0%, #e76b7c 100%);
	background: -webkit-linear-gradient(-45deg,  #7abcff 0%,#a15a95 0%,#e76b7c 100%);
	background: linear-gradient(135deg,  #7abcff 0%,#a15a95 0%,#e76b7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#e76b7c',GradientType=1 );
}
.pink-purple{
	background: #7abcff;
	background: -moz-linear-gradient(-45deg,  #7abcff 0%, #e76b7c 0%, #a15a95 100%);
	background: -webkit-linear-gradient(-45deg,  #7abcff 0%,#e76b7c 0%,#a15a95 100%);
	background: linear-gradient(135deg,  #7abcff 0%,#e76b7c 0%,#a15a95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#a15a95',GradientType=1 );
}
.purple-pink-orange{
	background: #a15a95;
	background: -moz-linear-gradient(-45deg,  #a15a95 0%, #e76b7c 50%, #fc842a 100%);
	background: -webkit-linear-gradient(-45deg,  #a15a95 0%,#e76b7c 50%,#fc842a 100%);
	background: linear-gradient(135deg,  #a15a95 0%,#e76b7c 50%,#fc842a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a15a95', endColorstr='#fc842a',GradientType=1 );
}
.orange-pink-purple{
	background: #fc842a;
	background: -moz-linear-gradient(-45deg,  #fc842a 0%, #e76b7c 50%, #a15a95 100%);
	background: -webkit-linear-gradient(-45deg,  #fc842a 0%,#e76b7c 50%,#a15a95 100%);
	background: linear-gradient(135deg,  #fc842a 0%,#e76b7c 50%,#a15a95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc842a', endColorstr='#a15a95',GradientType=1 );
}
.pink-yellow{
	background: #e76b7c;
	background: -moz-linear-gradient(-45deg,  #e76b7c 0%, #f7d569 100%);
	background: -webkit-linear-gradient(-45deg,  #e76b7c 0%,#f7d569 100%);
	background: linear-gradient(135deg,  #e76b7c 0%,#f7d569 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76b7c', endColorstr='#f7d569',GradientType=1 );
}
.yellow-pink{
	background: #f7d569;
	background: -moz-linear-gradient(-45deg,  #f7d569 0%, #e76b7c 100%);
	background: -webkit-linear-gradient(-45deg,  #f7d569 0%,#e76b7c 100%);
	background: linear-gradient(135deg,  #f7d569 0%,#e76b7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d569', endColorstr='#e76b7c',GradientType=1 );
}
.purple-blue{
	background: #a15a95;
	background: -moz-linear-gradient(-45deg,  #a15a95 0%, #59bec9 100%);
	background: -webkit-linear-gradient(-45deg,  #a15a95 0%,#59bec9 100%);
	background: linear-gradient(135deg,  #a15a95 0%,#59bec9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a15a95', endColorstr='#59bec9',GradientType=1 );
}
.blue-purple{
	background: #59bec9;
	background: -moz-linear-gradient(-45deg,  #59bec9 0%, #a15a95 100%);
	background: -webkit-linear-gradient(-45deg,  #59bec9 0%,#a15a95 100%);
	background: linear-gradient(135deg,  #59bec9 0%,#a15a95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bec9', endColorstr='#a15a95',GradientType=1 );
}
.blue-green{
	background: #59bec9;
	background: -moz-linear-gradient(-45deg,  #59bec9 0%, #28b29a 100%);
	background: -webkit-linear-gradient(-45deg,  #59bec9 0%,#28b29a 100%);
	background: linear-gradient(135deg,  #59bec9 0%,#28b29a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bec9', endColorstr='#28b29a',GradientType=1 );
}
.green-blue{
	background: #28b29a;
	background: -moz-linear-gradient(-45deg,  #28b29a 0%, #59bec9 100%);
	background: -webkit-linear-gradient(-45deg,  #28b29a 0%,#59bec9 100%);
	background: linear-gradient(135deg,  #28b29a 0%,#59bec9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b29a', endColorstr='#59bec9',GradientType=1 );
}
.green-yellow{
	background: #28b29a;
	background: -moz-linear-gradient(-45deg,  #28b29a 0%, #f7d569 100%);
	background: -webkit-linear-gradient(-45deg,  #28b29a 0%,#f7d569 100%);
	background: linear-gradient(135deg,  #28b29a 0%,#f7d569 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b29a', endColorstr='#f7d569',GradientType=1 );
}
.orange-yellow{
	background: #fc842a;
	background: -moz-linear-gradient(-45deg,  #fc842a 0%, #f7d569 100%);
	background: -webkit-linear-gradient(-45deg,  #fc842a 0%,#f7d569 100%);
	background: linear-gradient(135deg,  #fc842a 0%,#f7d569 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc842a', endColorstr='#f7d569',GradientType=1 );
}
.yellow-orange{
	background: #f7d569;
	background: -moz-linear-gradient(-45deg,  #f7d569 0%, #fc842a 100%);
	background: -webkit-linear-gradient(-45deg,  #f7d569 0%,#fc842a 100%);
	background: linear-gradient(135deg,  #f7d569 0%,#fc842a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d569', endColorstr='#fc842a',GradientType=1 );
}
.green-blue-purple{
	background: #28b29a;
	background: -moz-linear-gradient(-45deg,  #28b29a 0%, #59bec9 50%, #a15a95 100%, #a15a95 100%);
	background: -webkit-linear-gradient(-45deg,  #28b29a 0%,#59bec9 50%,#a15a95 100%,#a15a95 100%);
	background: linear-gradient(135deg,  #28b29a 0%,#59bec9 50%,#a15a95 100%,#a15a95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b29a', endColorstr='#a15a95',GradientType=1 );
}
.purple-blue-green{
	background: #28b29a;
	background: -moz-linear-gradient(-45deg,  #28b29a 0%, #a15a95 0%, #59bec9 50%, #28b29a 100%);
	background: -webkit-linear-gradient(-45deg,  #28b29a 0%,#a15a95 0%,#59bec9 50%,#28b29a 100%);
	background: linear-gradient(135deg,  #28b29a 0%,#a15a95 0%,#59bec9 50%,#28b29a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28b29a', endColorstr='#28b29a',GradientType=1 );
}

/* SLANTS AKA CANDY CANES */
.slant-wrapper {
	padding-top: 145px;
}
.slant-content-wrapper{
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 15px;
}
.slant-wrapper .slant {
	z-index: 1;
	position: relative;
	margin-bottom: -70px;
}
.slant-wrapper .slant:before {
    display: block;
    background: inherit;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transform: skewY(10.5deg);
    transform: skewY(10.5deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, .05), 0 -12px 28px 0 rgba(0, 0, 0, .05);
}


