.rize-content{
	padding-top: 50px;
}
.rize-text-title h4{
	border-bottom: 1px solid teal;
	font-size: 3rem;
}
.rize-text-content{
	padding-top: 40px;
}
.rize-img{
	width: 100%;
	max-width: 600px;
}
.rize-stories {
	padding: 50px;
}
.our-partners{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 70px;
	text-align: center;
}
.partners-logos{
	padding-top:50px;
	padding-bottom:50px;
}
.rize-logos{
	padding-right: 100px;
	margin-bottom: 100px;
}
.inquiry{
	border-top: 1px solid gray;
	padding-bottom: 50px;
}

@media only screen and (max-width: 1440px){
	.rize-img{
		padding-bottom:25px;
	}
}