.rize-content {
    padding-top: 50px;
}
.rize-text-title h4 {
    border-bottom: 1px solid teal;
    font-size: 3rem;
}
.rize-text-content {
    padding-top: 40px;
}
.rize-img {
    width: 100%;
    max-width: 600px;
}
.rize-stories {
    padding: 50px;
}
.our-partners {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 70px;
    text-align: center;
}
.partners-logos {
    padding-top: 50px;
    padding-bottom: 50px;
}
.rize-logos {
    padding-right: 100px;
    margin-bottom: 100px;
}
.inquiry {
    border-top: 1px solid #eee;
    padding-bottom: 50px;
}
.end-partners-wrapper{
	padding: 50px 0;
}
.award-partner-wrapper{
	padding: 50px 0;
	text-align: center;
}
.award-partner{
	width: 100%;
	max-width: 300px;
}
.rize-csr{
	padding-bottom: 45px;
}
.ap-fix{
	background: $white;
}
.our-partner{
	text-align: center;
}
.partners-logos {
	padding-top: 50px;
	padding-bottom: 0px !important;
}
.award-wrapper{
	padding: 20px;	
}
.rize-img {
    max-width: 400px !important;
}
.copy-wrapper{
	padding: 50px 0;
}
.rize-video-wrapper{
	padding: 50px 0;
	max-width: 900px;
	margin: 0 auto;
}
.rize-video-section{
	margin-top: 45px;
}
.rize-content{
	text-align: center;
	padding: 50px 0;
}