.view-img {
  padding-top: 50px;
  padding-bottom: 80px;
  width: 100%;
  max-width: 450px; }

.view-title {
  padding-top: 50px;
  padding-bottom: 50px; }

.view-content1 {
  padding-bottom: 150px; }
