.do-intro {
  padding-top: 100px;
  padding-bottom: 200px; }

.wwd-cw,
.wwd-features {
  padding: 50px; }

.aud-vid {
  margin: auto;
  text-align: center;
  padding-bottom: 110px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 1200px; }

.partners-form,
.partners-text {
  margin-top: 50px; }

.do-clients-title {
  text-align: center;
  padding-top: 80px; }

.wwd-img {
  max-width: 250px; }

.bottom-btn-wrapper {
  padding-bottom: 35px;
  text-align: center;
  padding-top: 50px; }

@media only screen and (max-width: 1024px) {
  .button-pos,
  .do-intro {
    padding-bottom: 50px; }

  .do-intro {
    padding-top: 40px;
    padding-bottom: 1px; }

  .do-clients-title {
    padding-top: 1px; }

  .contact-details,
  .contact-email {
    margin-left: 40px; } }
