.do-intro {
    padding-top: 100px;
    padding-bottom: 200px;
}
.wwd-cw,
.wwd-features {
    padding: 50px;
}
.aud-vid {
    margin: auto;
    text-align: center;
    padding-bottom: 110px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 1200px;
}
.partners-form,
.partners-text {
    margin-top: 50px;
}
.do-clients-title {
    text-align: center;
    padding-top: 80px;
}
.wwd-img {
    max-width: 250px;
}
.bottom-btn-wrapper {
    padding-bottom: 35px;
    text-align: center;
    padding-top: 50px;
}
.do-text{
	text-align: center;
	margin-bottom: -60px;
}

.do-video{
	width:100%;
}
.man-cons{
	text-align: center;
	padding-bottom: 90px;
}
.solution-screenshots{
	max-width: 300px;
}
.man-wrapper {
    width: 100%;
    max-width: 1050px;
    padding: 15px 50px;
    margin: auto;
}